body.login{
  overflow-y: hidden;

}
.pai-home{
  height: 100vh;
  background-color:#E6ECF0 ;
  width: 68%;
  margin: auto;
}
.hello-home2{
margin-top: 100px;
height: calc(38vw * 0.85);
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  background-color: rgb(255, 255, 255);
}

.hello-home-esquerda{
  width: 100%;
  height: 100%;
  
}

.texto-sobre-imagem {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* background-color: rgba(255, 255, 255, 0.8); */
height: calc(36vw * 0.75);
width: 85%;
/* background-color: antiquewhite; */
}

.aaa{
  font-size: 30px;
  color: aliceblue;
}
.imagem-home2{
  filter: saturate(80%);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.527);
}

.hello-home-esquerda {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.filho-content-home2{
  width: 100%;
  height: 100%;
  background-color: #e6ecf08a;
}
.content-home2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-left: 1px solid rgb(0, 0, 0);
  overflow: hidden;

  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

}

.content-home2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  filter: blur(1px) brightness(0.7) drop-shadow(0 0 10px rgba(0, 0, 0, 0.548));
  z-index: 0;
  border-left: 2px solid rgb(116, 116, 116);
  border-bottom: 2px solid rgb(116, 116, 116);
  border-top: 2px solid rgb(116, 116, 116);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);

}
.hello-home-direita2{
  width: 62%;
  
}
.components-home{
  height: auto;
  max-width: 1295px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5vh;
}

.teste2{
  height: 20%;
  width: 100%;
  /* background-color: rgb(131, 81, 20); */
}
.zero{
  height: 10%;

}
.fake-white{
  height: 27%;
  background-color: #E6ECF0;
}
.void{
  display: flex;
  height: 35%;
  align-items: end;
  /* background-color: #E6ECF0; */

}
.void2{
  display: flex;
  /* background-color: #5e91b3; */
  
}
.login-name{
  margin-bottom: 2vh;
  font-size: 2vw;
  color:white ;
  
}
.void2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(22vw * 0.85);

  /* background-color: #324a72; */
}
.email-login{
  width: 100%;
  height: calc(3vw * 0.85);
  /* background-color: aqua; */
  display: flex;
  justify-content: start;
  align-items: center;

}
.input-email{
  width: 100%;
  height: calc(3vw * 0.85);
  /* background-color: rgb(92, 7, 73); */
  display: flex;
  align-items: center;
  flex-direction: row;
}
.pass-login{
  width: 100%;
  height: calc(3vw * 0.85);
  /* background-color: rgb(204, 137, 13); */
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;

}
.input-pass{
  width: 100%;
  height: calc(3vw * 0.85);
  /* background-color: rgb(7, 16, 56); */
  display: flex;
  align-items: center;
}

.name-email{
font-size: 1vw;
color: white;
}
.name-email2{
  font-size: 1vw;

}
#emaill,#senhaa{
width: 100%;
height: calc(3vw * 0.85);
border-radius: 10px;
outline: none;
border: 0;
font-size: 1vw;
padding-left: 10px;
background-color: #93b7f1d3;

}
#usernameC{
  width: 90%;
  height: calc(3vw * 0.85);
  border-radius: 10px;
  outline: none;
  border: 0;
  font-size: 1vw;
  padding-left: 10px;
  background-color: #E6ECF0;
  
}
#emailC{
  width: 90%;
  height: calc(3vw * 0.85);
  border-radius: 10px;
  outline: none;
  border: 0;
  font-size: 1vw;
  padding-left: 10px;
  background-color: #E6ECF0;
  
}
#passC{
  width: 90%;
  height: calc(3vw * 0.85);
  border-radius: 10px;
  outline: none;
  border: 0;
  font-size: 1vw;
  padding-left: 10px;
  background-color: #E6ECF0;
  
}
#passCC{
  width: 90%;
  height: calc(3vw * 0.85);
  border-radius: 10px;
  outline: none;
  border: 0;
  font-size: 1vw;
  padding-left: 10px;
  background-color: #E6ECF0;
  
}
.btn-login{
width: 100%;
height: calc(3vw * 0.85);
/* background-color: rgb(92, 7, 73); */
display: flex;
align-items: center;  
margin-top: 20px;
justify-content: center;
}
.btncad-login{

width: 35%;
height: calc(2.5vw * 0.85);
border-radius: 15px;
background-color: #667DE1;
color: #eee;
border: #100122;
font-family: 'Lato', sans-serif;
font-size: 1.2vw;
cursor: pointer;
transition: 1s;

}
.btncad-login:hover{


background-color: #324a72;
color: #eee;
border: #100122;

transition: 1s;
}

.caixa-login{
/* background-color: #324a72; */
width: 90%;
height: calc(4vw * 0.85);
display: flex;
margin: auto;
align-items: center;
}
.content-login{
display: flex;
justify-content: center;
flex-direction: column;
}
.login-name2{
  margin-bottom: 2vh;
  font-size: 2vw;
  color:rgb(0, 0, 0) ;
  margin-top: 10px;

}
.caixa-names-register{
  /* background-color: #324a72; */
  width: 90%;
  height: calc(25vw * 0.85);
display: flex;
align-items: center;
margin: auto;
flex-direction: column;

}

.email-login2{
  width: 100%;
  height: calc(3vw * 0.85);
  /* background-color: aqua; */
  display: flex;
  align-items: center;

}
.n1{
  width: 60%;
  height: calc(3vw * 0.85);
  /* background-color: #470e6d; */
  display: flex;
  align-items: center;
}
.n2{
  width: 49%;
  height: calc(3vw * 0.85);
  /* background-color: #440829; */
  display: flex;
  align-items: center;

}
.n3{
  width: 50%;
  height: calc(3vw * 0.85);
  /* background-color: #470e6d; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

}
.n4{
  width: 50%;
  height: calc(3vw * 0.85);
  /* background-color: #470e6d; */
  display: flex;
  align-items: center;
    justify-content: flex-end;

}
.footer{
  margin-top: 40px;
  width: 100%;
  height: 2px;
  background-color: #100122;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.footer2{
  margin-top: 10px;
  cursor: pointer;
}